# LaTeX 编译中间件
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.dvi

# 编辑器备份文件
*.bak
*.swp

# 项目中间文件 理论上不用再写但是我们还是多写一遍
body/main.log
body/main.aux
body/main.out
body/main.pdf
body/main.synctex.gz
body/main.blg
body/main.bbl
body/main.xdv
body/main.synctex(busy)
body/AI_declaration.pdf

body/Thesis.log
body/Thesis.aux
body/Thesis.out
body/ref.bbl
body/Thesis.pdf
body/Thesis.synctex.gz
body/Thesis.blg
body/Thesis.bbl
body/Thesis.synctex(busy)

codes/__pycache__/
codes/problem1/__pycache__/
codes/problem2/__pycache__/
codes/problem3/__pycache__/
codes/problem12/__pycache__/
codes/result1.xlsx
codes/result2.xlsx
codes/result3.xlsx
codes\.trae
codes/result3_method1.xlsx
codes/result3_method2.xlsx
codes/result3_method3.xlsx
codes\__pycache__
.trae/
.workbuddy/
logs/
deliverables/